/* index */
/* Carta Perfil */
.card-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}





/* cv */
/* Encabezado */
.titulos {
    text-align: center; 
    text-decoration: underline;
}

/* imagen carrusel hobbies */
.image-hobbie{
    width: 45rem ; 
    height: auto; 
}
/* cv */
/* barra nav y secciones*/
.barra-navegador{
    background: #f5ecef;
}
/* letra exterior tarjetas */
.nombre{
    font-family:cursive;
}



